<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Solutions</title>
    <link rel="stylesheet" href="/rental_link.css">
    <link rel="stylesheet" media="screen and (max-width: 1318px)" href="/phone.css">
    <style>
        .subtit1 {
            background-color: rgba(26, 25, 25, 0.6);
            padding: 5px 5px;
        }
        /* .auto-input {
            background-color: rgba(26, 25, 25, 0.6);
            padding: 5px 5px;
        } */
    </style>
</head>

<header>
    <h1 id="h1">
        <a href="home"><img src="img/logo.jpg" alt="logo" id="logo"></a>
        RENTAL SOLUTIONS
    </h1>

    <!-- <hr> -->
    <nav class="navbar">
        <ul>
            <li><a href="home">Home</a></li>
            <!-- <li><a href="contact">ContactUs</a></li> -->
            <!-- <li><a href="login.html">Login</a></li>
            <li><a href="signup">SignUp</a></li>
            <li><a href="tenant.html">Tenant</a></li> -->
        </ul>
    </nav>
</header>
<section class="body-home">

    <body>

        <div class="container">
            <div >
            <div class="subtitle">
                <b>
                    <h1 class="subtit1">SIMPLER WAY TO SEARCH RENTAL UNITS</h1>
                </b>
            </div>
            <b>
                
               <strong><p class="info">
                    <!-- Better and Smarter way to search rooms and pg's in a particular place without any confusion or any
                    prerequisite of the place. Direct contact with owner and tenant, book your flats now using rental
                    link. -->
                    <span class="auto-input"></span>
                </p></strong> </div>
            </b>
        </div>
        <div class="continue">
            <h2>CONTINUE AS</h2>
            
                <button type="submit" class="choice" id="T">TENANT</button>
                <button type="submit" class="choice" id="O">OWNER</button>

            
        </div>
        <!-- <div id="contact">
            <h1 class="h-primary center">Contact Us</h1>
            <div id="contact-box">
                <form action="">
                    <div class="form-group">
                        <label for="name"> <b>Name:</b></label>
                        <input type="text" name="name" id="name" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="name"><b>Email:</b></label>
                        <input type="email" name="name" id="name" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="name"><b> Number:</b></label>
                        <input type="phone" name="name" id="name" placeholder="Enter your phone">
                    </div>
                    <div class="form-group">
                        <label for="name"><b>Message:</b></label>
                        <textarea name="message" id="message" cols="30" rows="10"></textarea>
                    </div>
                </form>
            </div>

        </div> -->
</section>
<footer>
    <div class="center">
        Copyright &copy; www.RentalLink.com. All rights reserved
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="rental_link.js"></script>
<script>
    var typed = new Typed(".auto-input",{
        strings: ["Better way to search rentals","Search at any place at any time","Direct contact with owners at ease"],
        typeSpeed:40,
        backSpeed:20,
        loop: true
    })
</script>
</body>

</html>