<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Link</title>
    <link rel="stylesheet" href="/rental_link.css">
</head>

    <header>
        <h1 id="h1">
            <a href="home"><img src="img/logo.jpg" alt="logo" id="logo" ></a>
            RENTAL LINK</h1>
        
        <!-- <hr> -->
        <nav class="navbar">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="#contact">ContactUs</a></li>
                <!-- <li><a href="signup.html">Login</a></li> -->
                <!-- <li><a href="rental_link.html">SignUp</a></li> -->
            </ul>
        </nav>
    </header>
    <section class="body">
    <div class="search" id="tenant">
        <div class="head">
        <b><p>Welcome, 
            search rooms and PG in your desired area</p></b>
        </div>
    <div class="searchbar">
        <form action="" id="form">
            <input type="search" id="query" placeholder="Search by area.....">
            <button type="submit" id="search">Search</button>
        </form>
    </div>
</div>
<div class="profile">
    <section class="det">
        <h1>name:</h1>
    </section>
</div>
    </section>
    <footer>
        <div class="center">
            Copyright &copy; www.RentalLink.com. All rights reserved
        </div>
    </footer>
    <script src="rental_link.js">

    </script>
</body>
</html>